<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="database.properties"/>

<settings>
		<setting name="logImpl" value="LOG4J" />
	<!-- <setting name="autoMappingBehavior" value="Full"/> -->
	</settings>
<!--  <typeAliases>
<typeAlias  alias="User" type="com.yccz.entity."/>
</typeAliases> -->

<typeAliases>
<package name="com.yccz.bean"/>
</typeAliases>

</configuration>